.mainnav {
  @extend .h7;
  z-index: 10;
  position: relative;
  text-align: center;
  
  ul { 
    margin: 0; 
    padding: 20px 0;
  }

  a { 
    padding: 5px 0;
    text-transform: uppercase;
    &:hover,
    &.active {
      color: $color-grey-light;
      text-decoration: underline;
    }
  }

  @media (min-width: $MSize) {
    a {
      padding: 15px 15px 10px;
      text-transform: uppercase;
      border-radius: 3px 3px 0 0; 
      &:hover,
      &.active {
        color: $color-grey;
        text-decoration: none;
        background: $color-grey-light;
      }
    }

    ul { padding: 40px 0 8px; }
  
    li {
      display: inline-block;
    }
  }
}