// This is custom styling
$font-serif: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
$font-ondine: 'Ondine', $font-serif; 
$font-orator: 'Orator', $font-serif;

$color-red: #b31621;
$color-grey: #333; 

$LSize: 1024px;
$MSize: 784px;
$SSize: 480px;
