@import "vars";

@import "base";

@import "bg";

@import "mainnav";

.pricelist {
	@media (min-width: $MSize) {
		span {
			float: right;
		}
	}
}

.special {
  padding: 10px 15px;
  border-radius: 4px;
  background: rgba(255,0,0,0.1);
  @media (min-width: $MSize) {
    padding: 10px 25px;
  }
}

.textbox {

  h2 { color: $color-red; 
    span {
      color: rgba(0, 0, 0, 0.6);
      font-size: 60%;
      display: block;
      @extend .italic;
    }

    &:not(:first-child) {
      margin-top: 30px;
    }
  }
	h3 { margin-bottom: 0;  
    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  @media (min-width: $MSize) {
		margin: 0 5%;
		font-size: 20px;
	}
}

.signatured {
  padding: 0 0 30px;
  color: #fff;
  position: relative;
  z-index: 10;
  font-family: $font-serif;
  font-size: 18px;
  a {
    color: #fff;
    font-style: italic;
    font-size: 20px;
    display: inline-block;
    padding: 0 3px;
    letter-spacing: 1px;
    &:hover {
      text-decoration: none;
      background: rgba(179,22,33,.5);
      transition: background 0.2s;
    }
  }
}

.tokonina {
  margin: 30px auto 0;
  width: 300px;
  height: 120px;
  background-image: url(../img/logo.png);
  background-size: cover;
  a { display: block; text-indent: -9999px; }
}

.content-box {
  margin: 0 auto 50px;
  padding:30px;
  min-height: 550px;
  max-width: 1000px;
  width: 100%;
  border-radius: 8px;
  background: $color-grey-light;
  background-size: 100%;
  color: #333;
  line-height: 1.4;
  font-size: 18px;
  box-sizing: border-box;
  font-family: $font-serif;
}


@import "cookie";
@import "feather";
