@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Ondine';
  src: url("../fonts/ondine/ondine.eot");
  display: inline-block;
  src: url("../fonts/ondine/ondine.eot?#iefix") format("embedded-opentype"), url("../fonts/ondine/ondine.woff") format("woff"), url("../fonts/ondine/ondine.svg") format("svg"); }
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Orator';
  src: url("../fonts/orator/orator.eot");
  src: url("../fonts/orator/orator.eot?#iefix") format("embedded-opentype"), url("../fonts/orator/orator.woff") format("woff"), url("../fonts/orator/orator.ttf") format("truetype"), url("../fonts/orator/orator.svg") format("svg"); }
html, body {
  background: #333;
  height: 100%; }

/**
 * Source: http://nicolasgallagher.com/micro-clearfix-hack/
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
::selection {
  background: #f4a1a7; }

::-moz-selection {
  background: #f4a1a7; }

.caps {
  text-transform: uppercase; }

.centered {
  text-align: center !important; }

.font-orator {
  font-family: "Orator", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; }

.font-ondine {
  font-family: "Ondine", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; }

.italic, .textbox h2 span {
  font-style: italic !important; }

.margin-bottom-0 {
  margin-bottom: 0 !important; }

.margin-top-0 {
  margin-top: 0 !important; }

h1, h2, h3, h4, h5, h6, h7,
.h1, .h2, .h3, .h4, .h5, form label, .h6, .btn-serif, .travel-mode label, .h7, .mainnav {
  margin-top: 0;
  margin-bottom: 20px; }

h1, .h1 {
  font-size: 32px; }
  @media (min-width: 784px) {
    h1, .h1 {
      font-size: 50px; } }

h2, .h2 {
  font-size: 30px; }
  @media (min-width: 784px) {
    h2, .h2 {
      font-size: 45px; } }

h3, .h3 {
  font-size: 28px; }
  @media (min-width: 784px) {
    h3, .h3 {
      font-size: 40px; } }

h4, .h4 {
  font-size: 25px; }
  @media (min-width: 784px) {
    h4, .h4 {
      font-size: 30px; } }

h5, .h5, form label {
  font-size: 20px; }
  @media (min-width: 784px) {
    h5, .h5, form label {
      font-size: 24px; } }

h6, .h6, .btn-serif, .travel-mode label {
  font-size: 18px; }
  @media (min-width: 784px) {
    h6, .h6, .btn-serif, .travel-mode label {
      font-size: 20px; } }

h7, .h7, .mainnav {
  font-size: 16px; }
  @media (min-width: 784px) {
    h7, .h7, .mainnav {
      font-size: 18px; } }

a {
  color: #b31621;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .cf:after {
    clear: both; }

dt, dd {
  float: left; }

dt {
  font-weight: bold;
  clear: left; }
  @media (min-width: 784px) {
    dt {
      width: 50%; } }

dd {
  margin-left: 20px; }
  @media (min-width: 784px) {
    dd {
      width: 30%;
      margin-left: 0; } }

.btn {
  background: #b31621;
  color: #fff;
  border: 0;
  padding: 8px 20px;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 8px;
  font-family: "Orator", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  letter-spacing: 1px;
  font-size: 20px; }
  .btn:hover {
    background: #fff;
    color: #b31621;
    transition: background 0.3s, color 0.2s; }

.clearlist {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfloat {
  clear: both !important; }

.wrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1100px;
  width: 90%; }

.adress {
  margin-bottom: 30px; }
  @media (min-width: 784px) {
    .adress {
      float: left;
      width: 50%; } }

.btn-serif {
  display: inline-block;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: normal !important;
  text-transform: none !important;
  font-style: italic;
  padding: 8px 20px;
  border-radius: 3px;
  background: #b31621;
  color: #fff;
  margin: 0 0 20px; }
  .btn-serif:hover {
    text-decoration: none;
    background: #333; }
  @media (min-width: 784px) {
    .btn-serif {
      float: left;
      margin-top: 60px; }
      .btn-serif.btn-serif-route {
        margin-top: 0;
        float: right; } }

form label {
  display: block;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-style: italic;
  margin-bottom: 5px; }
form input,
form textarea {
  padding: 8px 10px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin-bottom: 20px; }
form textarea {
  min-height: 200px; }

#pushstat {
  position: absolute;
  bottom: 0;
  z-index: -1; }

.download {
  display: block;
  background: url(../img/download.png) 15px center no-repeat rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px 15px 15px 65px; }
  .download:hover {
    background-color: rgba(179, 22, 33, 0.3);
    transition: background-color 0.2s; }
  @media (min-width: 480px) {
    .download {
      margin: 30px 0; } }

.map {
  display: none; }
  @media (min-width: 480px) {
    .map {
      display: block; } }

@media (min-width: 480px) {
  #map_canvas {
    height: 350px; } }
@media (min-width: 784px) {
  #map_canvas {
    height: 500px; } }

#routeForm input[type="submit"] {
  width: auto; }

.travel-mode {
  float: left;
  width: 50%; }
  .travel-mode label {
    position: relative;
    padding-left: 30px; }
  .travel-mode input[type="radio"] {
    position: absolute;
    top: 5px;
    left: 0; }
  @media (min-width: 784px) {
    .travel-mode {
      width: 25%; } }

.bg-effect {
  min-height: 100%;
  background-color: #333;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px 0; }
  .bg-effect h1, .bg-effect p, .bg-effect article {
    position: relative;
    z-index: 2; }
  .bg-effect:after {
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    display: block;
    top: 0;
    left: 0;
    z-index: 1; }

.bg-pattern {
  padding: 1px 0;
  background: url(../img/wood.jpg); }

.effect {
  transition: all 0.3s;
  background-color: #333;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }
  .effect a {
    color: #be4856; }
  .effect:after {
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    display: block;
    top: 0;
    left: 0;
    z-index: 1; }

.mainnav {
  margin-bottom: 0;
  z-index: 10;
  position: relative;
  text-align: center; }
  .mainnav ul {
    margin: 0;
    padding: 20px 0; }
  .mainnav a {
    display: block;
    padding: 2px 0;
    text-transform: uppercase; }
    .mainnav a:hover, .mainnav a.active {
      color: #f3f3f3;
      text-decoration: underline; }
  @media (min-width: 784px) {
    .mainnav a {
      padding: 15px 15px 10px;
      text-transform: uppercase;
      border-radius: 3px 3px 0 0;
      background-color: rgba(0, 0, 0, 0.5); }
      .mainnav a:hover, .mainnav a.active {
        color: #333;
        text-decoration: none;
        background: #f3f3f3; }
    .mainnav ul {
      padding: 40px 0 0; }
    .mainnav li {
      display: inline-block; } }

@media (min-width: 784px) {
  .pricelist span {
    float: right; } }

.special {
  padding: 10px 15px;
  border-radius: 4px;
  background: rgba(255, 0, 0, 0.1); }
  @media (min-width: 784px) {
    .special {
      padding: 10px 25px; } }

.textbox h2 {
  color: #b31621; }
  .textbox h2 span {
    color: rgba(0, 0, 0, 0.6);
    font-size: 60%;
    display: block; }
  .textbox h2:not(:first-child) {
    margin-top: 30px; }
.textbox h3 {
  margin-bottom: 0; }
  .textbox h3:not(:first-child) {
    margin-top: 30px; }
@media (min-width: 784px) {
  .textbox {
    margin: 0 5%;
    font-size: 20px; } }

.signatured {
  padding: 0 0 30px;
  color: #fff;
  position: relative;
  z-index: 10;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 18px; }
  .signatured a {
    color: #fff;
    font-style: italic;
    font-size: 20px;
    display: inline-block;
    padding: 0 3px;
    letter-spacing: 1px; }
    .signatured a:hover {
      text-decoration: none;
      background: rgba(179, 22, 33, 0.5);
      transition: background 0.2s; }

.tokonina {
  margin: 30px auto 0;
  width: 300px;
  height: 120px;
  background-image: url(../img/logo.png);
  background-size: cover; }
  .tokonina a {
    display: block;
    text-indent: -9999px; }

.content-box {
  margin: 0 auto 50px;
  padding: 30px;
  min-height: 550px;
  max-width: 1000px;
  width: 100%;
  border-radius: 8px;
  background: #f3f3f3;
  background-size: 100%;
  color: #333;
  line-height: 1.4;
  font-size: 18px;
  box-sizing: border-box;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; }

.imgbox img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  background: #fff; }

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(300px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
.cc-cookies {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #000;
  z-index: 20;
  font-size: 14px;
  color: #fff;
  overflow: hidden;
  -webkit-animation: slideUp 0.3s ease alternate; }
  .cc-cookies a {
    color: #fff;
    font-style: italic;
    text-decoration: underline; }
    .cc-cookies a:hover {
      color: #b31621; }
  .cc-cookies .btn:hover {
    background-color: #fff; }
  .cc-cookies p {
    margin: 20px 0;
    line-height: 1.4; }
  @media (max-width: 479px) {
    .cc-cookies .btn {
      margin: 0 0 20px; } }
  @media (min-width: 784px) {
    .cc-cookies .btn {
      float: right;
      margin-top: 20px; }
    .cc-cookies p {
      margin: 30px 0 20px;
      float: left;
      width: 80%; } }

.lb {
  cursor: pointer; }

.featherlight {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 200;
  top: 0;
  left: 0; }

.featherlight-content {
  max-width: 60%;
  max-height: 60%;
  margin: 5% auto;
  text-align: center; }
  .featherlight-content img {
    max-width: 100%;
    height: auto;
    border: solid 8px #fff; }
  .featherlight-content .featherlight-close {
    position: absolute;
    background: #333;
    z-index: 201;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 33px;
    color: #fff;
    cursor: pointer; }
    .featherlight-content .featherlight-close:hover {
      background: #b31621; }

.gallery-item > a {
  width: 100%;
  max-height: 155px;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px; }
  .gallery-item > a:hover {
    opacity: 0.8; }
  @media (min-width: 480px) {
    .gallery-item > a {
      width: 50%; } }
  @media (min-width: 1024px) {
    .gallery-item > a {
      width: 25%; } }
.gallery-item img {
  max-width: 100%; }

.snapwidget ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }
.snapwidget li {
  float: left; }

/*# sourceMappingURL=custom.css.map */
