---
layout: default
---
<div class="bg-effect b-lazy" 
  data-src="/img/bg1.jpg"
  data-src-sm="/img/bg1-sm.jpg"
  data-src-md="/img/bg1-md.jpg"
  data-src-lg="/img/bg1-lg.jpg"
>
  {% include header.html %}
  <article class="content-box">
    <div class="textbox">
      <h4 class="h5 italic">Allereerst bedankt voor uw interesse voor onze cateringservice. Onderstaand zijn de mogelijke combinaties voor de catering. <br>
      U kunt uit alle gerechten kiezen die ook op internet staan vermeld.</h4>

      <dl class="cf">
        <dt>1 vlees 2 groenten met witte rijst</dt>
        <dd>&euro; 12 p.p.</dd>
        <dt>2 vlees 1 groenten met witte rijst</dt>
        <dd>&euro; 12,50 p.p.</dd>
        <dt>2 vlees 2 groenten met witte rijst</dt>
        <dd>&euro; 13,50 p.p.</dd>
        <dt>2 vlees 3 groenten met witte rijst</dt>
        <dd>&euro; 14,50 p.p.</dd>
        <dt>3 vlees 2 groenten met witte rijst</dt>
        <dd>&euro; 15 p.p.</dd>
        <dt>3 vlees 3 groenten met witte rijst</dt>
        <dd>&euro; 16 p.p.</dd>
      </dl>
      <p class="note">U kunt ook kiezen voor Bami goreng of Nasi goreng in plaats van witte rijst voor extra &euro; 1,- per persoon.</p>

      <p>De combinaties kunnen worden aangevuld met de volgende bijgerechten. Voor een bijgerecht rekenen wij Euro 0,75 ct per persoon per gerecht.</p>

      <ul>
        <li>Atjar Kuning, gemengde groenten in zoetzure saus, koud serveren.</li>
        <li>Terong Blado, aubergines in zoet pittige sambal.</li>
        <li>Tahoe Goreng Pedis, tahoeblokjes in sambal.</li>
        <li>Tempeh Goreng Manis, gebakken tempeh in javaanse zoete saus.</li>
        <li>Sambal Goreng Telor, eventueel gehalveerd.</li>
        <li>Spekkoek Euro 9,25/16 stuks.</li>
      </ul>

      <p>Ik hoop dat u met deze informatie tot een keuze kunt komen. Natuurlijk informeren wij u graag verder over de mogelijke combinaties en welke gerechten goed samengaan. Als er nog vragen zijn kunt u altijd bellen of langskomen om te proeven.</p>
    </div>
  </article>
  {% include signature.html %}
</div>