---
layout: default
---
<style>
  .venopi-btn { transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out; font-weight: 500; letter-spacing: 0.5px; padding: 9px 19px; background: #21aa93; border-radius: 34px; color: #fff; font-family:'Nunito Sans',Avenir,'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:14px; }
  .venopi-btn:hover { background: #1E8183; text-decoration: none; transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out; }
</style>

<div class="bg-effect b-lazy"
  data-src="/img/bg1.jpg"
  data-src-sm="/img/bg1-sm.jpg"
  data-src-md="/img/bg1-md.jpg"
  data-src-lg="/img/bg1-lg.jpg"
>
  <div class="wrapper">
    {% include header.html %}
    <article class="content-box">
      <div class="textbox">
        <h4 class="h5 italic">Allereerst bedankt voor uw interesse voor onze cateringservice. Onderstaand zijn de mogelijke combinaties voor de catering. <br>
        U kunt uit alle gerechten kiezen die ook op internet staan vermeld.</h4>

        <p style="margin-bottom: 34px;"><a href="https://www.venopi.com/widget/toko-nina-haarlem/" target="_blank" class="venopi-btn">Boek onze cateringservice op Venopi</a></p>

        <p class="note">U kunt ook kiezen voor Bami goreng of Nasi goreng in plaats van witte rijst voor extra &euro; 1,- per persoon.</p>

        <p>De combinaties kunnen worden aangevuld met de volgende bijgerechten. Voor een bijgerecht rekenen wij Euro 0,75 ct per persoon per gerecht.</p>

        <ul>
          <li>Atjar Kuning, gemengde groenten in zoetzure saus, koud serveren.</li>
          <li>Terong Blado, aubergines in zoet pittige sambal.</li>
          <li>Tahoe Goreng Pedis, tahoeblokjes in sambal.</li>
          <li>Tempeh Goreng Manis, gebakken tempeh in javaanse zoete saus.</li>
          <li>Sambal Goreng Telor, eventueel gehalveerd.</li>
          <li>Spekkoek Euro 9,25/16 stuks.</li>
        </ul>

        <p>Ik hoop dat u met deze informatie tot een keuze kunt komen. Natuurlijk informeren wij u graag verder over de mogelijke combinaties en welke gerechten goed samengaan. Als er nog vragen zijn kunt u altijd bellen of langskomen om te proeven.</p>

        <a href="/img/foldertokoninacatering2021.pdf" target="_blank" class="download">Download Toko Nina - Catering PDF</a>

      </div>
    </article>
    {% include signature.html %}
  </div>
</div>