---
layout: contact
---

<div class="bg-effect bg-winkel">
  {% include header.html %}
  <article class="content-box">
    <h2 class="h4 margin-top-0">Adres:</h2>
    <p>
      Koningstraat 48, 2011TD Haarlem
      <br>
      <a href="tel:+31235329065">(023) 532 9065</a>
    </p>
    <h2 class="h4 margin-top-0">Openingstijden</h2>
    <dl class="cf">
      <dt>Maandag</dt>
      <dd>12:00 - 19:00</dd>
      <dt>Dinsdag t/m Vrijdag</dt>
      <dd>10:00 - 19:00</dd>
      <dt>Zaterdag</dt>
      <dd>10:00 - 18:00</dd>
      <dt>Zondag</dt>
      <dd>Gesloten</dd>
    </dl>
    <div id="map_canvas"></div>
  </article>
  {% include signature.html %}
</div>