---
layout: default
---
<style>
  .venopi-btn { transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out; font-weight: 500; letter-spacing: 0.5px; padding: 9px 19px; background: #21aa93; border-radius: 34px; color: #fff; font-family:'Nunito Sans',Avenir,'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:14px; }
  .venopi-btn:hover { background: #1E8183; text-decoration: none; transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out; }
</style>

<div class="bg-pattern">
  <div class="wrapper">
    {% include header.html %}

    <article class="content-box">
      <h2 class="h4">Offerte aanvragen</h2>
      <p>Allereerst bedankt voor uw interesse voor onze cateringservice. U kunt een offerte aanvragen bij Venopi.</p>
      <p style="margin-bottom: 34px;"><a href="https://www.venopi.com/widget/toko-nina-haarlem/" target="_blank" class="venopi-btn">Boek onze cateringservice op Venopi</a></p>

      <h2 class="h4">Openingstijden</h2>
      <dl class="cf">
        <dt>Maandag</dt>
        <dd>12:00 - 19:00</dd>
        <dt>Dinsdag t/m Vrijdag</dt>
        <dd>10:00 - 19:00</dd>
        <dt>Zaterdag</dt>
        <dd>10:00 - 18:00</dd>
        <dt>Zondag</dt>
        <dd>Gesloten</dd>
      </dl>

      <div class="adress">
        <h2 class="h4">Adres:</h2>
        <p>
          Koningstraat 48, 2011TD Haarlem
          <br>
          <a href="tel:+31235329065">(023) 532 9065</a>
        </p>
      </div>

      <div class="send-email">
        <a href="mailto:info@tokonina.nl" class="btn-serif">Stuur ons een email</a>
      </div>

      <span style="display: none">=== (ROOT) ===</span>

      {% include map.html %}

    </article>
    {% include signature.html %}
  </div>
</div>
