---
layout: home
---

<div class="bg-effect b-lazy" 
  data-src="/img/bg2.jpg"
  data-src-sm="/img/bg2-sm.jpg"
  data-src-md="/img/bg2-md.jpg"
  data-src-lg="/img/bg2-lg.jpg"
>
  <div id="ip-container" class="ip-container">
    <!-- initial header -->
    <header class="ip-header">
      <h1 class="tokonina"><a href="">Toko Nina Haarlem</a></h1>
      <div class="ip-loader">
        <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
          <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
          <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
        </svg>
      </div>
    </header>
    <!-- main content -->
    <div class="ip-main">
      {% include header.html %}
      <article class="content-box">
        <div class="textbox">
          <p>Toko Nina staat al sinds 1981 garant voor originele en smakelijke Indonesische gerechten. U kunt bij de toko terecht voor onder andere snacks en complete maaltijden. Bovendien zijn in de toko alle ingrediënten voor de Aziatische keuken verkrijgbaar en is er een ruime keuze aan Japans en Chinees porseleinen servies en Aziatisch keukengerei.
          </p>
          <p>Toko Nina verzorgt ook catering. Meer informatie hierover vindt u in deze folder.
          </p>
          <p>Voor vragen en suggesties kunt u altijd bij ons terecht.
          </p>
          <p>Tot ziens in onze toko!</p>
        </div>
      </article>
      {% include signature.html %}
    </div>
  </div><!-- /container -->
</div>

<script src="js/classie.js"></script>
<script src="js/pathLoader.js"></script>
<script src="js/main.js"></script>