---
layout: default
---

<div class="bg-effect b-lazy" 
  data-src="/img/bg2.jpg"
  data-src-sm="/img/bg2-sm.jpg"
  data-src-md="/img/bg2-md.jpg"
  data-src-lg="/img/bg2-lg.jpg"
>
  {% include header.html %}
  <article class="content-box">
    <div class="textbox">
      
      <p>Toko Nina staat al sinds 1981 garant voor originele en smakelijke Indonesische gerechten. U kunt bij de toko terecht voor onder andere snacks en complete maaltijden. Bovendien zijn in de toko alle ingrediënten voor de Aziatische keuken verkrijgbaar en is er een ruime keuze aan Japans en Chinees porseleinen servies en Aziatisch keukengerei.
      </p>
      <p>Toko Nina verzorgt ook catering. Meer informatie hierover vindt u in deze folder.
      </p>
      <p>Voor vragen en suggesties kunt u altijd bij ons terecht.
      </p>
      <p>Tot ziens in onze toko!</p>
    </div>
  </article>
  {% include signature.html %}
</div>