---
layout: default
---

<div class="bg-effect b-lazy" 
  data-src="/img/bg-v1.jpg"
  data-src-sm="/img/bg1-v1-sm.jpg"
  data-src-md="/img/bg1-v1-md.jpg"
  data-src-lg="/img/bg1-v1-lg.jpg"
>
  <div class="wrapper">
    {% include header.html %}
    <article class="content-box">
      <div class="textbox">
        <h2 class="h4">
          Hoofdgerechten
          <span>(onderstaande prijzen zijn per 100 gram)</span>
        </h2>

        <h3 class="h5 serif italic strong">Rijst/Bami</h3>
        <ul class="clearlist pricelist">
          <li>
            Nasi goreng/Bami goreng
            <span>&euro; 0,85</span>
            <a href="#" class="toggleinfo"></a>
          </li>
          <li>
            Nasi poetih (witte rijst)*
            <span>&euro; 0,55</span>
          </li>
          <li>
            Nasi koening (gele rijst)*
            <span>&euro; 0,65</span>
            <a href="#" class="toggleinfo"></a>
          </li>
        </ul>

        <h3 class="h5 serif italic strong">Vleesgerechten</h3>
        <ul class="clearlist pricelist">
          <li>
            Daging Blado* <i>(rundvlees, sambal, peteh)</i>
            <span>&euro; 2,20</span>
          </li>
          <li>
            Daging Rendang (pittig*/mild*) <i>(rundvlees, kokos)</i>
            <span>&euro; 2,20</span>
          </li>
          <li>
            Daging Bali <i>(rundvlees, peper-citroengras)</i>
            <span>&euro; 2,20</span>
          </li>
          <li>
            Daging Smoor Djawa <i>(rundvlees, zoete sojasaus)</i>
            <span>&euro; 2,20</span>
          </li>
          <li>
            Indische Balletjes <i>(varkensgehakt, zoete sojasaus)</i>
            <span>&euro; 2,20</span>
          </li>
          <li>
            Ajam Ritja* <i>(kip, gember-tomaat, citroengras)</i>
            <span>&euro; 2,20</span>
          </li>
          <li>
            Ajam Oedang* <i>(kip, sambal, garnaal, peteh)</i>
            <span>&euro; 2,20</span>
          </li>
          <li>
            Ajam Kerrie* <i>(kip, kerrie-kokos)</i>
            <span>&euro; 2,20</span>
          </li>
          <li>
            Ajam Saté <i>(kip, koriander-ketjap, pindasaus)</i>
            <span>&euro; 2,20</span>
          </li>
          <li>
            Saté Ajam (per stokje met saus) <i>(kip, per stokje met saus)</i>
            <span>&euro; 1,00</span>
          </li>
          <li>
            Ajam Ketjap <i>(kip, zoete sojasaus)</i>
            <span>&euro; 1,95</span>
          </li>
        </ul>


        <h3 class="h5 serif italic strong">Groentegerechten</h3>
        <ul class="clearlist pricelist">
          <li>Sajoer Lodeh* <i>(kokos)</i> <span>&euro; 1,60</span></li>
          <li>Atjar Koening* <i>(zoetzuur)</i> <span>&euro; 1,60</span></li>
          <li>Tahoe Ketjap <i>(zoete sojasaus)</i><span>&euro; 1,60</span></li>
          <li>Toemis Taugé <i>(tahoe, knoflook)</i><span>&euro; 1,60</span></li>
          <li>Tjap Tjoi <i>(oestersaus)</i><span>&euro; 1,60</span></li>
          <li>Terong Blado* <i>(aubergines, zoet-pittige sambal)</i><span>&euro; 1,60</span></li>
          <li>Toemis Katjang Pandjang <i>(knoflook, oestersaus)</i><span>&euro; 1,60</span></li>
          <li>Tahoe Pedis* <i>(zoet-pittige sambal)</i><span>&euro; 1,60</span></li>
          <li>Tempé manis <i>(Javaanse suiker)</i><span>&euro; 1,60</span></li>
          <li>Tahoe tjap gomeh* <i>(snijbonen, kokos-ebbiesaus)</i><span>&euro; 1,60</span></li>
          <li>Sambal goreng boontjes* <i>(zoet-pittige sambal)</i><span>&euro; 1,60</span></li>
          <li>
            Sambal goreng telor* <i>(ei in zoet-pittige sambal, per stuk)</i>
            <span> &euro; 1,00</span>
          </li>
        </ul>

        <h3 class="h5 serif italic strong">Visgerechten</h3>
        <ul class="clearlist pricelist">
          <li>
            Blado vis (pepesan)* <i>(makreel in zoet-pittige sambal)</i>
            <span> &euro; 2,20</span>
          </li>
        </ul>

        <h3 class="h5 serif italic strong">Overig</h3>
        <ul class="clearlist pricelist">
          <li>
            Gado-gado* (per portie)
            <span> &euro; 5,50</span>
          </li>
          <li>
            Soto* (per portie)
            <span> &euro; 3,95</span>
          </li>
        </ul>

        <p>*Glutenvrij</p>

        <div class="special">
          <h2 class="h4">
            Maandspecials!
            <span>Vraag naar onze specials!</span>
          </h2>
          <p>
            Elke maand hebben we weer een aantal nieuwe gerechten of 
            <br>
            ‘oude bekenden’ dat ons reguliere aanbod aanvult.
          </p>
        </div>
        
        <h3 class="h5 serif italic strong">Snacks</h3>
        <ul class="clearlist pricelist">
          <li>Lemper (kip) <span>&euro; 1,50</span></li>
          <li>Loempia (kip of vegetarisch) <span>&euro; 1,50</span></li>
          <li>Maïskoek <span>&euro; 1,50</span></li>
          <li>Pastei (rundvlees of vegetarisch) <span>&euro; 1,50</span></li>
          <li>Pastei kip <span>&euro; 1,95</span></li>
          <li>Samosa kip <span>&euro; 1,95</span></li>
          <li>Risoles (kip of rundvlees) <span>&euro; 1,75</span></li>
          <li>Bapao (kip of rundvlees) <span>&euro; 1,95</span></li>
          <li>Indische kroket <span>&euro; 1,95</span></li>
          <li>Groentekoek <span>&euro; 1,95</span></li>
          <li>Martabak <span>&euro; 1,95</span></li>
          <li>Dadar goeloeng <span>&euro; 1,75</span></li>
          <li>Kuwe lapis <span>&euro; 1,75</span></li>
          <li>Klepon <span>&euro; 1,75</span></li>
          <li>Sponscake <span>&euro; 1,50</span></li>
          <li>Lapis Soerabaja <span>&euro; 1,95</span></li>          
          <li>Spekkoek (punt) <span>&euro; 1,75</span></li>
          <li>¼ Spekkoek <span>&euro; 2,95</span></li>
          <li>½ Spekkoek <span>&euro; 5,50</span></li>
          <li>Hele spekkoek <span>&euro; 9,95</span></li>
        </ul>


        <h2 class="h4">
          Maaltijden met witte rijst
          <span>Nasi goreng of bami goreng i.p.v witte rijst &euro; 1 extra</span>
        </h2>
        <dl class="cf">
          <dt>2 groentegerechten</dt>
          <dd>&euro;4,95</dd>
          <dt>3 groentegerechten</dt>
          <dd>&euro;6,50</dd>
          <dt>4 groentegerechten</dt>
          <dd>&euro;7,95</dd>
          <dt>1 vlees- &amp; 2 groentegerechten</dt>
          <dd>&euro;6,95</dd>
          <dt>2 vlees- &amp; 1 groentegerechten</dt>
          <dd>&euro;7,50</dd>
          <dt>1 vlees- &amp; 3 groentegerechten</dt>
          <dd>&euro;8,50</dd>
          <dt>2 vlees- &amp; 2 groentegerechten</dt>
          <dd>&euro;8,95</dd>
          <dt>3 vlees- &amp; 1 groentegerechten</dt>
          <dd>&euro;9,50</dd>
        </dl>


        <h2 class="h4">
          Rijsttafelmenu met witte of gele rijst
          <span>
            (vanaf 2 personen/prijs per persoon ~ inclusief bijgerechten)
            <br>
            Nasi goreng of bami goreng i.p.v witte rijst &euro; 1 extra
          </span>
        </h2>
        <dl class="cf">
          <dt>3 vlees- &amp; 3 groentegerechten</dt>
          <dd>&euro;12,50</dd>
          <dt>4 vlees- &amp; 4 groentegerechten/dt>
          <dd>&euro;14,00</dd>
          <dt>Vegetarisch 6 gerechten</dt>
          <dd>&euro;11,00</dd>
        </dl>
        <a href="/img/foldertokonina2015.pdf" target="_blank" class="download">Download Toko Nina - Winkel folder PDF</a>

        <ul>
          <li class="strong italic">Wij adviseren grote bestellingen van te voren te bestellen.(wij gebruiken geen ve-tsin (MSG/E621) in onze gerechten)</li>
          <li class="strong italic">De prijzen in deze folder zijn de afhaalprijzen.</li>
          <li class="strong italic">Prijswijzigingen voorbehouden.</li>
        </ul>
      </div>
    </article>
    {% include signature.html %}
</div>