---
layout: default
---

<div class="bg-effect b-lazy"
  data-src="/img/bg-v1.jpg"
  data-src-sm="/img/bg1-v1-sm.jpg"
  data-src-md="/img/bg1-v1-md.jpg"
  data-src-lg="/img/bg1-v1-lg.jpg"
>
  <div class="wrapper">
    {% include header.html %}
    <article class="content-box">
      <p>In de winkel zijn alle ingrediënten voor de Aziatische keuken verkrijgbaar en er is een ruime keuze aan Japans en Chinees porseleinen servies en Aziatisch keukengerei.</p> 

      <div class="gallery-item">
        <a class="lb" data-featherlight="/img/bg-v1.jpg">
          <img src="/img/bg-v1-sm.jpg">
        </a>
        <a class="lb" data-featherlight="/img/bg1.jpg">
          <img src="/img/bg1-sm.jpg">
        </a>
        <a class="lb" data-featherlight="/img/bg2.jpg">
          <img src="/img/bg2-sm.jpg">
        </a>
        <a class="lb" data-featherlight="/img/bg-v2.jpg">
          <img src="/img/bg-v2-sm.jpg">
        </a>
      </div>

    </article>
    {% include signature.html %}
  </div>
</div>
