---
layout: default
---

<div class="bg-effect bg-winkel">
  {% include header.html %}
  <article class="content-box">
    <div class="textbox">
     <h2 class="h4 italic margin-bottom-0">Maaltijden met witte rijst</h2>
      <p class="italic margin-top-0">Nasi goreng of bami goreng i.p.v witte rijst &euro; 1 extra</p>
      <dl class="cf">
        <dt>2 groentegerechten</dt>
        <dd>&euro;4,50</dd>
        <dt>3 groentegerechten</dt>
        <dd>&euro;5,95</dd>
        <dt>4 groentegerechten</dt>
        <dd>&euro;7,50</dd>
        <dt>1 vlees- &amp; 2 groentegerechten</dt>
        <dd>&euro;6,50</dd>
        <dt>2 vlees- &amp; 1 groentegerechten</dt>
        <dd>&euro;6,95</dd>
        <dt>1 vlees- &amp; 3 groentegerechten</dt>
        <dd>&euro;7,95</dd>
        <dt>2 vlees- &amp; 2 groentegerechten</dt>
        <dd>&euro;8,50</dd>
        <dt>3 vlees- &amp; 1 groentegerechten</dt>
        <dd>&euro;8,95</dd>
      </dl>
    </div>
  </article>
  {% include signature.html %}
</div>