<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ "/js/jquery.cookie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/pathLoader.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/blazy.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/extraScript.js" | prepend: site.baseurl }}"></script>

<script>

  // Show the loader only when user has NO cookie record
  if(($.cookie('homeloader') && $.cookie('homeloader') == 'ivana')) {
      $('.ip-header').hide();
    } 

  $.cookie('homeloader', 'ivana', { expires: 365, path: '/' });

</script>