<script src="{{ "/js/libs/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/libs/cookie/jquery.cookie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/libs/cookie/jquery.cookiecuttr.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/libs/blazy.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/libs/lightbox.min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/extraScript.js" | prepend: site.baseurl }}"></script>
