<head>
  
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  
  <title>Toko Nina | Haarlem</title>

  <meta name="description" content="Toko Nina staat al sinds 1981 garant voor originele en smakelijke Indonesische gerechten" />
  <meta name="keywords" content="Toko Nina - Haarlem. INDONESISCHE SPECIALITEITEN" />
  <meta name="author" content="Ivana Setiawan" />
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

  <!-- START: Stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/effect.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/style-nav.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/linkarrow.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/custom.css" | prepend: site.baseurl }}">
  <!-- END: Stylesheet -->

  <script src="{{ "/js/modernizr.custom.js" | prepend: site.baseurl }}"></script>
</head>